.home {
    position: relative;
    height: 87.5%;
    width: 100%;
    z-index: 1;
}

.homeVideoCon {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}

.homeMenu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-left: 48px;
    background-color: var(--first-color-light-home-bg);
    color: var(--primary-color);
    backdrop-filter: blur(5px);
}

.homeContainer {
    color: var(--primary-color);
    width: 70%;
    height: 100%;
    padding: 48px 0;
    padding-right: 30px;
}

.homeImageContainer {
    width: 30%;
}

.homeImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    display: block;
}

.homeContainer>* {
    margin-top: 2rem;
}

.homeTitle {
    font-size: 4rem;
    background-color: var(--first-color-dark);
    line-height: 1.5;
    font-weight: 800;
}

.homeContent {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--title-color-black);
    width: fit-content;
}

.homeBtn {
    background-color: var(--title-color-black);
    outline: none;
    border: none;
    padding: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--first-color);
}

.homeBtn:hover {
    color: var(--first-color-alt);
    background: #000;
}

@media screen and (max-width: 1000px) {
    .homeImageContainer {
        display: none;
    }

    .homeContainer {
        padding-right: 0;
        width: 100%;
    }

    .homeMenu {
        padding-right: 48px;
    }

}

@media screen and (max-width: 600px) {
    .homeTitle {
        font-size: 3.5rem;
    }

    .homeMenu {
        padding-left: 20px;
        padding-right: 20px;
    }
}