.horizontalScrollBar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--primary-color);
}

.horizontalScrollInnerCon {
    display: flex;
    width: 85%;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 48px;
    z-index: 10;
    scroll-behavior: smooth;
    color: #000;
    padding: 40px;
}

.horizontalScrollInnerCon::-webkit-scrollbar {
    display: none;
}

.navCon {
    width: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conNav {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--body-color)
}

.rightArrow {
    justify-self: center;
}

.navIcon {
    font-variation-settings:
        'opsz' 40
}

@media screen and (max-width: 700px) {
    .conNav {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .horizontalScrollInnerCon {
        padding-left: 20px;
        padding-right: 20px;
    }

    .conNav {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}