.navBar {
    position: relative;
    z-index: 2;
    height: 100px;
}

.innerContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: var(--title-color-black);
    position: relative;
    z-index: 2;
}

.logoCon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logoTitle {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 35px;
}

.logo {
    height: 64px;
}

.navMenu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    text-decoration: none;
}

.navLink {
    height: 100%;
    color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
}

.navLink:hover {
    color: var(--first-color-alt);
    border-bottom: 2px solid;
}

.hamburger {
    display: none;
    color: white;
    cursor: pointer;
}

@keyframes expand {
    0% {
        top: 0px;
    }

    100% {
        top: 100px;
    }
}

@keyframes expand-smaller {
    0% {
        top: 0px;
    }

    100% {
        top: 70px;
    }
}


.mobileMenuContainer {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--title-color-black);
    z-index: 1;
    padding: 16px 48px;
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mobileMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Navbar Media Queries */
@media screen and (max-width: 1200px) {
    .logoTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .logoTitle {
        font-size: 25px;
    }

    .logo {
        height: 50px;
    }

    .navMenu {
        display: none;
    }

    .hamburger {
        display: revert;
    }

    .mobileMenuContainer {
        display: revert;
    }
}


@media screen and (max-width: 500px) {
    .logoTitle {
        font-size: 20px;
    }

    .logo {
        height: 40px;
    }

    .navBar {
        height: 70px;
    }

    .innerContainer {
        padding: 0 20px;
    }

    .mobileMenuContainer {
        animation-name: expand-smaller;
    }
    
}


@media screen and (max-width: 350px) {
    .logoTitle {
        font-size: 15px;
    }

    .logo {
        height: 30px;
    }
}