.paginationCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
}

.paginationPagesCon {
    display: flex;
    gap: 32px;
}

.pages {
    display: flex;
    gap: 1rem;
}

.paginationBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 100%;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--first-color);
    transition: all;
    transition-duration: .3s;
    cursor: pointer;
}

.paginationBtn:hover {
    background-color: var(--body-color-faded);
}

.activePage {
    background-color: var(--body-color-faded);
}

.pageNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.disableBtn {
    color: var(--body-color-faded);
    cursor: not-allowed;
}

.currPageDisplay {
    font-size: 1.25rem;
    font-weight: 500;
}

@media screen and (max-width: 600px) {

    .paginationBtn {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }

    .paginationPagesCon {
        gap: 16px;
    }

    .pages {
        display: flex;
        gap: 8px;
    }
    
}